/* Site Stylesheet
  1. Global Styles
  2. Typography Styles
  3. Structure Styles
  4. Module Styles
  5. Component Styles
  6. Page Styles
  7. Media Queries
======================================== */

/* 1. Global Styles
======================================== */
* {
    /* Primary */
    --violet: #883FC8;
    --gray-blue: #48556A;
    --black-blue: #19202D;

    /* Neutral */
    --light-grey: hsl(0, 0%, 81%);
    --light-grey-blue: hsl(210, 46%, 95%);

}

/* 2. Typography Styles
======================================== */


/* 3. Structure Styles
======================================== */


/* 4. Modules Styles
======================================== */
/* Site Navigation */
/* Site Footer */

/* 5. Component Styles
======================================== */


/* 6. Page Styles
======================================== */


/* 7. Media Queries
======================================== */