/* Site Stylesheet
  1. Global Styles
  2. Typography Styles
  3. Structure Styles
  4. Module Styles
  5. Component Styles
  6. Page Styles
  7. Media Queries
======================================== */

/* 1. Global Styles
======================================== */
* {
    /* Primary */
    --violet: #883FC8;
    --gray-blue: #48556A;
    --black-blue: #19202D;

    /* Neutral */
    --light-grey: #CFCFCF;
    --light-grey-blue: #ECF2F8;

    --font: "Barlow Semi Condensed";
    --font-size: 16px;
}

/* 2. Typography Styles
======================================== */


/* 3. Structure Styles
======================================== */


/* 4. Modules Styles
======================================== */
/* Site Navigation */
/* Site Footer */

/* 5. Component Styles
======================================== */


/* 6. Page Styles
======================================== */
body {
    background-color: var(--light-grey-blue);
}

/* 7. Media Queries
======================================== */