/* Site Stylesheet
  1. Global Styles
  2. Typography Styles
  3. Structure Styles
  4. Module Styles
  5. Component Styles
  6. Page Styles
  7. Media Queries
======================================== */

/* 1. Global Styles
======================================== */
* {
    /* Primary */
    --violet: #883FC8;
    --gray-blue: #48556A;
    --black-blue: #19202D;

    /* Neutral */
    --light-grey: #CFCFCF;
    --light-grey-blue: #ECF2F8;

    /* Additional Colors */
    --daniel-purple: #A775F1;
    --patrick-purple: #733FC8;

    --font: "Barlow Semi Condensed";
    --font-size: 16px;
}

/* 2. Typography Styles
======================================== */
h1, h2, p {
    font-family: var(--font);
    color: #fff;
}

h1, .testimonial {
    font-size: 0.8125em;
}

h2 {
    font-size: 0.6875em;
}

h1, h2, .testimonial {
    font-weight: 500;
}

.highlight {
    font-size: 1.25em;
    font-weight: 600;
    z-index: 1;
}

.testimonial {
    line-height: 1.125em;
}

.highlight, .testimonial {
    width: 99%;
}

#patrick .testimonial {
    text-align: center;
}

#kira h1, #kira h2, #kira p, #jeanette h1, #jeanette h2, #jeanette p {
    color: var(--gray-blue);
}

/* 3. Structure Styles
======================================== */


/* 4. Modules Styles
======================================== */
/* Site Navigation */
/* Site Footer */
footer {
    padding: 7em 0 1em 0;
    color: var(--black-blue);
}  

footer a {
    color: var(--violet);
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: var(--gray-blue);
    font-weight: bold;
}

/* 5. Component Styles
======================================== */
.testimonials {
    display: grid;
    grid-template-columns: repeat(4, 15.9375em);
    grid-template-rows: 17.625em, 16.625em;
    justify-content: center;
    gap: 1.875em;
    /* padding: 0 10.3125em; */
    margin: auto;
}

.card {
    border-radius: 8px;
    padding: 1.5625em 2.1875em;
    box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
}

.header {
    display: grid;
    grid-template-columns: 1.75em 5.6875em;
    grid-template-rows: repeat(2, 0.875em);
    column-gap: 0.9375em;
    align-items: center;
}

.name {
    grid-row: 1 / 2;
    width: fit-content;
}

.status {
    grid-row: 2 / 3;
}

#daniel {
    grid-column: 1 / 3;
    background-color: var(--violet);
    z-index: -2;
    background: url(./images/bg-pattern-quotation.svg) var(--violet) top right no-repeat;
    background-position-x: 85%;
}

#jonathan {
    grid-column: 3 / 4;
    background-color: var(--gray-blue);
}

#jeanette {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: #fff;
}

#patrick {
    grid-column: 2 / 4;
    background-color: var(--black-blue);
}

#kira {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
    background-color: #fff;
}

.profile-img {
    border-radius: 50%;
    width: 1.75em;
    grid-row: 1 / 3;
}

#patrick .profile-img {
    border: 2px solid;
    border-color: var(--patrick-purple);
}

#daniel .profile-img {
    border: 2px solid;
    border-color: var(--daniel-purple);
}

/* 6. Page Styles
======================================== */
body {
    background-color: var(--light-grey-blue);
    padding-top: 10%;
}

/* 7. Media Queries
======================================== */
@media screen and ( max-width: 1120px ) {
    .testimonials {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 1.5625em;
    }

    .card {
        width: 100;
        height: auto;
    }

    #patrick .testimonial {
        text-align: left;
    }
  }